<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block page_title %} {% endblock page_title %} | airbnb</title>
    <link rel="stylesheet" type="text/css" href=" {% static '/css/styles.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    <style>
    
     
    </style>
  </head>
  <body class="text-gray-800 mt-24">
    <header class="container max-w-full flex items-center justify-between px-6 py-2 h-20 border-b border-gray-300 fixed inset-0 bg-white">
      <div class="flex items-center w-1/2">
          <a href="{% url 'core:home' %}" class="mr-6">
            <img class="w-6" src="{% static 'img/logo.png' %}"/>
          </a>
          {% block search-bar %}
          <form method="get" action="{% url 'rooms:search' %}" class="w-9/12">
            <input class="search-box border px-4  w-full py-2 font-medium text-grey-900 placeholder-gray-500 focus:outline-none rounded-md shadow-md hover:shadow-lg" name="city" placeholder="search by city" />
          </form>
          {% endblock search-bar %}
      </div>
      {% include "partials/nav.html" %}
    </header>

  {% block content %}
  {% endblock content %}

  {% include "partials/footer.html" %}

  </body>
</html>